# env.dist

# ====================================================================
# Environment
# ====================================================================


# --------------------------------------------------------------------
# Global flag: Is this dev stage?
# Enables dev features here and there, such as:
# - Twig's DebugExtension
# --------------------------------------------------------------------

IS_DEVELOPMENT=1



# --------------------------------------------------------------------
# PHP error_reporting – numeric bitmasks
#
#    32759: Default DomainFactory
#    24567: E_ALL & ~E_DEPRECATED & ~E_NOTICE
#       -1: E_ALL (all errors)
#
# See http://php.net/manual/de/function.error-reporting.php
# --------------------------------------------------------------------

PHP_ERROR_REPORTING=-1


# --------------------------------------------------------------------
# Behind firewall: CA certs
#
# Example: CA_CERT="/path/to/cert.pem"
# --------------------------------------------------------------------
CA_CERT=


# --------------------------------------------------------------------
# App base path for Slim's $app->setBasePath method
# see core/slim.php and tests/integration/RouteResponsesTest
# --------------------------------------------------------------------

SLIM_BASE_PATH=



# ====================================================================
# APP FOLDER STRUCTURE
# ====================================================================


# --------------------------------------------------------------------
# This should be set in app/dotenv.php
# before parsing this file
# --------------------------------------------------------------------

# BASE_DIR=


# --------------------------------------------------------------------
# Where configuration YAML are stored
# --------------------------------------------------------------------
CONFIGS_DIR="${BASE_DIR}/configs"


# --------------------------------------------------------------------
# Base directory for utility directories
# like file-system caches or compiled Twig templates
# --------------------------------------------------------------------
VAR_DIR="${BASE_DIR}/var"


# --------------------------------------------------------------------
# Directory for development certificates
# --------------------------------------------------------------------
PEM_DIR="${BASE_DIR}/resources/docker/ssl"


# ====================================================================
# CACHING
# ====================================================================

# --------------------------------------------------------------------
# Cache Lifetime
# for configuration files
#
# Set to 0 or comment out to disable caching. For example:
#  3600   =  1h
# 86400   = 24h
# 2592000 = 1 month
# --------------------------------------------------------------------
CACHE_LIFETIME=0


# --------------------------------------------------------------------
# Cache Directory
#
# If commented out or empty, system temp folder will be used.
# Any directory defined here should be relative to this project root.
# Beware on shared hosting!
# --------------------------------------------------------------------
CACHE_DIR="${VAR_DIR}/cache"



# ====================================================================
# TWIG TEMPLATES
# ====================================================================


# --------------------------------------------------------------------
# Project templates
# --------------------------------------------------------------------
TEMPLATES_DIR="${BASE_DIR}/templates"


# --------------------------------------------------------------------
# Compiled templates
#
# If left empty this should fallback to sys_get_tmp_dir()
# See 'Templates.Cache' in core/templating.php
# --------------------------------------------------------------------

#TEMPLATES_CACHE=
TEMPLATES_CACHE="${VAR_DIR}/twig"



# ==========================================
# Logging
# ==========================================

LOG_NAME="App"

## PSR Log levels from Monolog
#
# DEBUG = 100
# INFO = 200
# NOTICE = 250
# WARNING = 300
# ERROR = 400
# CRITICAL = 500
# ALERT = 550
# EMERGENCY = 600
LOG_LEVEL=100



# --------------------------------------------------------------------
# Logging to "Monolog\Handler\RotatingFileHandler"
# --------------------------------------------------------------------

# Leave 'LOG_FILE' blank to disable logging to file
LOG_FILE="${VAR_DIR}/log/app.log"

# PSR3 LogLevel name or Monolog Loglevel constant
LOG_FILE_LOGLEVEL=${LOG_LEVEL}

# Maximum number of Logging files
LOG_FILES_COUNT=30


# --------------------------------------------------------------------
# Logging to "Monolog\Handler\BrowserConsoleHandler"
# --------------------------------------------------------------------

# Leave this blank to disable
# PSR3 LogLevel name or Monolog Loglevel constant
LOG_CONSOLE_LOGLEVEL=${LOG_LEVEL}
