{# pwa-buttons.twig #}
<button data-theme-toggle="light-mode">Toggle light mode</button>
<button data-theme-toggle="dark-mode">Toggle dark mode</button>
<button data-PWA="clear-caches">Clear PWA caches</button>
