{# sample-html.twig #}
{# Content stolen here: https://newcss.net/demo/ #}



<h1>Heading 1</h1>
<p class="lead">Lead is a lead text paragraph. Tradiotionally, it is displayed visually larger.</p>


<h2>Heading 2</h2>
<p>This is paragraph text. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

<h3>Heading 3</h3>
<p>This is paragraph text. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

<h4>Heading 4</h4>
<p>This is paragraph text. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

<h5>Heading 5</h5>
<p>This is paragraph text. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

<h6>Heading 6</h6>
<p>This is paragraph text. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>


<h2>Text styles</h2>
<p>
	Lorem <mark>ipsum</mark> dolor sit amet <strong>consectetur</strong> adipisicing elit. Aut <i>harum
		molestias</i> labore amet
	possimus <s>exercitationem aperiam</s> earum, doloribus <u>nobis ducimus</u> maiores quia voluptates quis omnis
	molestiae quisquam. <a href="#">Voluptatibus, officiis laudantium?</a>
</p>

<p>
	Lorem ipsum dolor sit amet consectetur adipisicing elit. <code>Hic culpa, nobis doloremque</code> veniam non,
	nihil
	cupiditate odit repellat est <kbd>ALT + F4</kbd> expedita facilis. Fuga aspernatur, alias debitis eveniet totam
	minima vel.
</p>

<h2>Lists</h2>

<h3>Unordered Lists</h3>
<ul>
	<li>List item</li>
	<li>List item</li>
	<li>List item</li>
	<li>List item</li>
</ul>


<h3>Ordered Lists</h3>
<ol>
	<li>Step 1</li>
	<li>Step 2</li>
	<li>????</li>
	<li>PROFIT!!!</li>
</ol>


<h3>Definition Lists</h3>
<dl>
	<dt>Web</dt>
	<dd>The part of the Internet that contains websites and web pages</dd>
	<dt>HTML</dt>
	<dd>A markup language for creating web pages</dd>
	<dt>CSS</dt>
	<dd>A technology to make HTML look better</dd>
</dl>


<h2>Quotes</h2>

<blockquote cite="https://en.wikiquote.org/wiki/Edward_Snowden">
	If you think privacy is unimportant for you because you have nothing to hide, you might as well say free speech
	is unimportant for you because you have nothing useful to say.<br><br>– Edward Snowden
</blockquote>



<h2>Code blocks</h2>

<pre>
&#x3C;!DOCTYPE html&#x3E;
&#x3C;html&#x3E;
&#x3C;head&#x3E;
&#x3C;title&#x3E;Hello World&#x3C;/title&#x3E;
&#x3C;/head&#x3E;
&#x3C;body&#x3E;
&#x3C;p&#x3E;Lorem ipsum dolor sit amet, consectetur adipiscing elit.&#x3C;/p&#x3E;
&#x3C;/body&#x3E;
&#x3C;/html&#x3E;</pre>




<h2>Tables</h2>

<table>
	<caption>Ho-kago Tea Time</caption>
	<thead>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Instrument</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Instrument</th>
		</tr>
	</tfoot>
	<tbody>
		<tr>
			<td>Yui Hirasawa</td>
			<td>Lead Guitar</td>
		</tr>
		<tr>
			<td>Mio Akiyama</td>
			<td>Bass</td>
		</tr>
		<tr>
			<td>Ritsu Tainaka</td>
			<td>Drums</td>
		</tr>
		<tr>
			<td>Tsumugi Kotobuki</td>
			<td>Keyboard</td>
		</tr>
		<tr>
			<td>Azusa Nakano</td>
			<td>Rhythm Guitar</td>
		</tr>
	</tbody>
</table>





<h2>Forms</h2>

<form>
	<p><em>This is not a real form and does not submit or save any information.</em></p>
	<p>
		<label for="first_name">First name</label><br>
		<input type="text" name="first_name" id="first_name" autocomplete="given-name">
	</p>
	<p>
		<label for="last_name">Last name</label><br>
		<input type="text" name="last_name" id="last_name" autocomplete="family-name">
	</p>
	<p>
		<label>Gender</label><br>
		<label for="genderMale">
			<input type="radio" name="gender" id="genderMale" value="Male" autocomplete="off">
			Male
		</label>
		<br>
		<label for="genderFemale">
			<input type="radio" name="gender" id="genderFemale" value="Female" autocomplete="off">
			Female
		</label>
		<br>
		<label for="genderOther">
			<input type="radio" name="gender" id="genderOther" value="other-none-na" autocomplete="off">
			Non-binary
		</label>
	</p>
	<p>
		<label for="email">Email</label><br>
		<input type="email" name="email" id="email" required autocomplete="on">
	</p>
	<p>
		<label for="phone">Phone number</label><br>
		<input type="tel" name="phone" id="phone" autocomplete="off">
	</p>
	<p>
		<label for="password">Password</label><br>
		<input type="password" name="password" id="password" autocomplete="new-password">
	</p>
	<p>
		<label for="favourite">Favorite Flavor</label><br>
		<select name="favourite" id="favourite">
			<option>Chocolate</option>
			<option>Vanilla</option>
			<option>Strawberry</option>
			<option>Mint Chocolate Chip</option>
			<option>Coffee</option>
		</select>
	</p>
	<p>
		<label for="comments">Comments</label><br>
		<textarea name="comments" id="comments"></textarea>
	</p>
	<p>
		<label for="agreeTerms">
			<input type="checkbox" value="terms" name="agreeTerms" id="agreeTerms" autocomplete="off">
			I agree to the <a>terms and conditions</a>
		</label>
	</p>
	<p>
		<button type="submit" name="submit">Sign up</button>
		<button type="reset">Reset form</button>
		<button disabled="disabled" name="disabledButton">Disabled</button>
	</p>
</form>

