{%- embed baseTemplate -%}

{% block documentBody %}

<header>
    <h1>Demo</h1>
</header>

{% include "@includes/pwa-buttons.twig" %}

{% include "@includes/sample-html.twig" %}



{% endblock %}
{%- endembed -%}
